{% if site.disqus %}
{% if page.comments %}
  <div class="comments">
  <div id="disqus_thread"><p><i>Must affirm third-party consent for <b>Disqus</b> comments to appear.</i></p></div>
  <script type="text/javascript">

var disqus_shortname = '{{ site.disqus }}';

function readCookie(name) {
  var nameEQ = name + "=";
  var ca = document.cookie.split(';');
  for(var i=0;i < ca.length;i++) {
    var c = ca[i];
    while (c.charAt(0)==' ') c = c.substring(1,c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
  }
  return null;
}

// added for cookie consent masking
// Note: comments will not appear/load unless third-party tracking has been accpeted
if(readCookie('cookie-notice-dismissed')=='true') {

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    dsq.setAttribute('data-timestamp', +new Date());
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
}
</script>
  <noscript>JavaScript needs to be enabled to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  {% endif %}

{% endif %}
